nav {
    display: flex;
    justify-content: space-between;
}
.navbar-nav .nav-link {
    color:#fff;
}
.nav-item {
    margin-right: 3rem;
    &:last-child {
        margin-right: 0px;
    }
}
.nav-link {
    display: inline-block !important;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.active {
    a {color: #2a2d32 !important;}
}